@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 400 600 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --color-rose-50: hsl(330, 100%, 98%);
  --color-rose-800: hsl(332, 51%, 32%);
  --color-stone-100: hsl(30, 54%, 90%);
  --color-stone-150: hsl(30, 18%, 87%);
  --color-stone-600: hsl(30, 10%, 34%);
  --color-stone-900: hsl(24, 5%, 18%);
  --color-brown-800: hsl(14, 45%, 36%);
  --color-white: hsl(0, 0%, 100%);
  /* Typography */
  --font-family-base: 'Outfit', sans-serif;
  --font-family-heading: 'Young Serif', serif;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --line-height-base: 1.5;
  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1600: 8rem;
  /* Border radius */
  --radius-base: 0.75rem;
  --radius-lg: 1.5rem;
  /* Miscellaneous */
  --height-min: 0.0625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-stone-100);
  color: var(--color-stone-600);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

ol,
ul {
  list-style-position: inside;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: var(--height-min);
  height: var(--height-min);
  padding: 0;
  margin: calc(var(--height-min) * -1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.recipe-card {
  padding: var(--spacing-400);
  background-color: var(--color-white);
}

.recipe-image {
  display: block;
  margin: calc(var(--spacing-400) * -1) calc(var(--spacing-400) * -1) 0;
  width: calc(100% + var(--spacing-400) * 2);
  object-fit: cover;
}

.recipe-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  margin-block-start: var(--spacing-500);
}

.recipe-title {
  color: var(--color-stone-900);
  font-family: 'Young Serif', serif;
  font-size: clamp(2.25rem, 2.0115rem + 1.0178vw, 2.5rem);
  font-weight: var(--font-weight-base);
  line-height: 1;
}

.recipe-description {
  margin-block-start: var(--spacing-300);
}

.recipe-preparation {
  background-color: var(--color-rose-50);
  border-radius: var(--radius-base);
  padding: var(--spacing-300);
}

.recipe-preparation-title {
  color: var(--color-rose-800);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 1;
}

.recipe-preparation-list {
  margin-block-start: var(--spacing-200);
  padding-inline-start: var(--spacing-100);
}

.preparation-item {
  margin-block-start: var(--spacing-100);

  &::marker {
    color: var(--color-rose-800);
  }

  & strong {
    margin-inline-start: var(--spacing-200);
  }
}

.heading-2 {
  color: var(--color-brown-800);
  font-family: 'Young Serif', serif;
  font-size: 1.75rem;
  font-weight: var(--font-weight-base);
  line-height: 1;
}

.recipe-ingredients-list {
  margin-block-start: var(--spacing-300);
  padding-inline-start: var(--spacing-100);
}

.ingredients-item {
  margin-block-start: var(--spacing-100);

  &::marker {
    color: var(--color-brown-800);
  }

  & span {
    margin-inline-start: var(--spacing-200);
  }
}

hr {
  border: 0;
  border-top: var(--height-min) solid var(--color-stone-150);
}

.recipe-instructions-list {
  padding-inline-start: var(--spacing-500);
  margin-block-start: var(--spacing-300);
}

.instructions-item {
  margin-block-start: var(--spacing-100);
  text-indent: calc(2.125rem * -1);

  &::marker {
    color: var(--color-brown-800);
    font-weight: var(--font-weight-bold);
  }

  & strong {
    margin-inline-start: var(--spacing-200);
  }
}

.recipe-nutrition {
  margin-block-start: var(--spacing-300);
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-block-start: var(--spacing-200);
}

.nutrition-table td {
  padding-block: var(--spacing-150);

  &:first-of-type {
    padding-inline-start: var(--spacing-400);
  }

  &:last-of-type {
    padding-inline-end: var(--spacing-400);
    color: var(--color-brown-800);
    font-weight: var(--font-weight-bold);
  }
}

.nutrition-table tbody tr {
  &:first-of-type td {
    padding-block-start: 0;
  }

  &:last-of-type td {
    padding-block-end: 0;
  }

  &:not(:last-of-type) {
    border-bottom: var(--height-min) solid var(--color-stone-150);
  }
}

@media (min-width: 48rem) {
  .recipe-card {
    margin: var(--spacing-1600) auto;
    border-radius: var(--radius-lg);
    max-width: 38.5rem;
    padding: var(--spacing-500);
  }

  .recipe-image {
    margin: 0;
    border-radius: var(--radius-base);
    width: 100%;
    height: 18.75rem;
  }
}

@media (min-width: 90rem) {
  .recipe-card {
    max-width: 46rem;
  }
}
